/**/
.p-5 {
    padding: 5rem !important;
}
/*sombra del container negro*/
.sombra {
     box-shadow: 0px 0px 60px 60px rgba(0, 0, 0, 0.932);
}
/*propiedades del cnt-img-1*/
.bg-img-1{
    background-image: url(../img/002.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
/*propiedades del cnt-img-2*/
.bg-img-2{
    background-image: url(../img/003.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70vh;
}
.bg-img-3{
    background-image: url(../img/004.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bg-img-4{
    background-image: url(../img/005.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw; 
    height: 70vh;   
}
.bg-img-5{
    background-image: url(../img/006.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bg-img-6{
    background-image: url(../img/007.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 0vw; 
    
}

.bg-size{
    width: 100vw;    
}

.margin-botones{
    margin-top: 55vh !important;
}

.m-btn{
    margin-top: 85vh !important;
}
.m-btn50{
    margin-top: 50vh !important;
}

.div-size{
    height: 13rem;
    width: 95vw;
}

/*Tamaño y color del container del contenido Electric Powertrain*/
.container_ElecPower{
    width: 100vw;
    height: 190vh;
    background-color:#F4F4F4;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: auto;
    transition: padding .15s ease-in-out;
}
.g-total{
    grid-area:1/2/2/11;
}
.g-medio1{
    grid-area:1/2/2/6;
}

.g-medio2{
    grid-area:1/7/2/12;
}
